1. Definição do Escopo
- Empresa escolhida: Petrobras PN (PETR4.SA) — Pode ser trocada conforme o projeto.

- Período: Últimos 5 anos de dados diários.

- Fonte dos dados: Yahoo Finance usando a biblioteca yfinance (ou Alpha Vantage, se desejar alternativas).

- Features mínimas: Open, High, Low, Close, Adj Close, Volume.

2. Instalação e Importação das Bibliotecas

In [3]:
#!pip install yfinance pandas numpy

In [4]:
import yfinance as yf
import pandas as pd
import numpy as np
from datetime import datetime
from pathlib import Path

3. Coleta dos Dados Históricos

In [9]:
# Configuração dos parâmetros
ticker = "PETR4.SA"  # Altere conforme a empresa escolhida
start_date = "2020-01-01"
end_date = datetime.today().strftime("%Y-%m-%d")

# Download dos dados
df = yf.download(ticker, start=start_date, end=end_date, progress=False, multi_level_index=False)
df.reset_index(inplace=True)
df.head()

C:\Users\Ernane Domingues\AppData\Local\Temp\ipykernel_27596\2979682276.py:7: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start_date, end=end_date, progress=False, multi_level_index=False)

        Date     Close      High       Low      Open    Volume
0 2020-01-02  9.656281  9.656281  9.533612  9.596519  37774500
1 2020-01-03  9.577648  9.826132  9.577648  9.712899  71595600
2 2020-01-06  9.690880  9.731770  9.420379  9.571356  81844000
3 2020-01-07  9.653135  9.712897  9.583937  9.694025  32822000
4 2020-01-08  9.593374  9.678299  9.511595  9.653136  48215600

4. Exploração Inicial e Limpeza dos Dados
- Verifique as primeiras linhas do dataset (df.head())

- Cheque valores ausentes e consistência dos dados:

In [10]:
print(df.info())
print(df.isnull().sum())

# Preenchimento ou remoção de valores ausentes, se necessário
df.dropna(inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1378 entries, 0 to 1377
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1378 non-null   datetime64[ns]
 1   Close   1378 non-null   float64
 2   High    1378 non-null   float64
 3   Low     1378 non-null   float64
 4   Open    1378 non-null   float64
 5   Volume  1378 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 64.7 KB
None
Date      0
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

5. Validação e Salvamento dos Dados
- Validar se o período desejado está completo.

- Salvar em formato Parquet para eficiência:

In [11]:
DATA_PATH = Path("../src/data")
DATA_PATH.mkdir(parents=True, exist_ok=True)

output_file = DATA_PATH / f"{ticker}_historical.parquet"
df.to_parquet(output_file, index=False)
print(f"Arquivo salvo em: {output_file}")

Arquivo salvo em: ..\src\data\PETR4.SA_historical.parquet